/* ==================   TEAM  ===Наша команда */

.team-list,
.socnetworks {
  display: flex;
  margin: 0;
  padding: 0;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team .item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--button-secondary-background);
}

.team-link {
  color: var(--maine-text-color);
  text-decoration: none;
  outline: none;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.192;

  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.team p {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;

  margin-top: 0px;
  text-align: center;
}

.team img {
  margin-top: 0px;
  margin-bottom: 30px;
}
