/*================CONTACT HEADER==============*/

.header .contact {
  display: flex;
  margin-left: auto;
}
.contact .link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $secondary-text-color;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact .item + .item {
  margin-left: 50px;
}

.contact-mail-icon,
.contact-tel-icon {
  fill: currentColor;
  margin-right: 10px;
}

