.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.header-studio {
  color: var(--header-studio-color);
}

.footer-studio {
  color: var(--primary-white-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
