/*=========================LOGO=============================*/

.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  color: $accent-color;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-studio {
  color: $header-studio-color;
}

.footer-studio {
  color: $primary-white-color;
}
